/* Header styles */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #af281f;
  color: white;
  padding: 1em 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.no-uppercase {
  text-transform: none !important;
}

nav ul li a,
.nav li a {
  padding-left: 10px;
}

nav ul li a,
.nav li a {
  font-size: 1.4em;
  color: #f2edc3;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  text-transform: uppercase;
  border-left: 1px solid #f2edc3;
}

nav ul li a:hover {
  color: #ffffff;
  transform: scale(1.05);
}

.logo {
  margin-right: 1em;
  max-height: 50px;
  margin-left: 2rem;
  border-radius: 5px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style: none;
  margin-right: 4rem;
}

.nav li a:hover {
  color: #ffffff;
  transform: scale(1.05);
}

.clicker {
  cursor: pointer;
}
