<header>
  <img src="cook.png" alt="cook" class="logo" />
  <nav>
    <ul>
      <li><a routerLink="/home">Начало</a></li>
      <li><a routerLink="/catalog">Всички рецепти</a></li>
      <li><a routerLink="/search">Търсене</a></li>
    </ul>
  </nav>
  <ul class="nav">
    @if (isLoggedIn) {
    <li><a routerLink="/create">Добави твоята рецепта</a></li>
    <li>
      <a class="no-uppercase" routerLink="/profile">ДОБРЕ ДОШЪЛ {{ name }}</a>
    </li>
    <li><a class="clicker" (click)="logout()">Изход</a></li>
    } @else {
    <li><a routerLink="/login">Вход</a></li>
    <li><a routerLink="/register">Регистрация</a></li>
    }
  </ul>
  @if (hasError) {
  <app-error-msg />
  }
</header>
