<div class="main">
  <article class="recipe-detail">
    <img src="images/IMG_4807.jpg" alt="Spaghetti carbonara" />
    <h2>Spaghetti carbonara</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
      laudantium eum ipsum in, illo dolorum.
    </p>

    <h3>-----------------------------------------------------</h3>

    <h3>Ingredients:</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam,
      laborum. Dolorem eveniet rem nesciunt iure.
    </p>

    <h3>-----------------------------------------------------</h3>

    <h3>Instructions:</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. At corporis
      asperiores ipsum, modi optio eaque?
    </p>

    <h3>-----------------------------------------------------</h3>

    <h3>People who recommend: 0</h3>
  </article>

  <div class="command">
    <a href="#">Edit</a>
    <a href="#">Delete</a>

    <a href="#">Recommend</a>
    <p>Already recommended</p>
  </div>
</div>
