<footer>
    <div class="footer">
        <div class="wrapper">
            <h4>Намерете ни</h4>
            <ul>
                <li>
                    <a href="https://www.facebook.com/tsvetan.tsaryanski/" target="_blank" rel="noopener noreferrer"><img src="facebook.png" alt="Facebook"></a>
                </li>
                <li>
                    <a href="mailto:ttsaryanski@gmail.com" target="_blank" rel="noopener noreferrer"><img src="box_gmail.png" alt="gmail"></a>
                </li>
                <li class="resized-image">
                    <a href="https://github.com/ttsaryanski" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                    
                </li>
            </ul>
        </div>
    </div>
    <p>&COPY; 2024 Автор Цветан Царянски. За създаването на това приложение е използван FrontEnd framework Angular.</p>
</footer>
