<footer>
    <div class="footer">
        <h4>Намерете ни</h4>
        <ul>
            <li><a href="https://www.facebook.com/tsvetan.tsaryanski/"><img src="facebook.png" alt="Facebook"></a></li>
            <li><a href="mailto:ttsaryanski@gmail.com"><img src="box_gmail.png" alt="gmail"></a></li>
            <li><a href="https://github.com/ttsaryanski"><img src="github-logo.png" alt="github" class="resized-image"></a></li>
        </ul>
    </div>
    <p>&COPY; 2024 Автор Цветан Царянски. За създаването на това приложение е използван FrontEnd framework Angular.</p>
</footer>
