<div class="main">
    <section class="register">
        <h2>Регистрация</h2>
        <form action="#">
            <label for="name">Name:</label>
            <input type="text" id="name" name="">

            <label for="email">Email:</label>
            <input type="email" id="email" name="">

            <label for="password">Password:</label>
            <input type="password" id="password" name="">

            <label for="password">Repeat Password:</label>
            <input type="password" id="re-password" name="">

            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a routerLink="/login">Влез тук</a>.</p>
    </section>
</div>