.login {
  background: #f2edc3;
  padding: 2em;
  margin: 2.9em auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login {
  text-align: center;
  max-width: 600px;
}

.login h2 {
  margin-bottom: 1em;
  color: #d32f23;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}

.login label {
  display: block;
  margin-bottom: 0.5em;
  color: #555;
  text-align: left;
}

.login input,
.login textarea,
.login button {
  width: 100%;
  padding: 20px;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.login button {
  background-color: #d32f23;
  color: #f2edc3;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 30px;
}

.login button:hover {
  transform: scale(1.05);
}

.login button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  transform: none;
}

.error {
  color: red;
}

.border-error {
  border-color: red !important;
}
