.home {
  text-align: center;
  margin-bottom: 20px;
}

.home p {
  font-size: 25px;
}

.no-post {
  font-size: 30px;
  font-style: italic;
  margin-top: 50px;
  border-top: 1px solid #2c3e50;
  padding-top: 30px;
}

.home .btn {
  background-color: #d32f23;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: 400;
  margin-top: 1em;
  border-radius: 30px;
  text-transform: uppercase;
}

.home a:hover {
  background-color: #f2edc3;
  color: #d32f23;
  transform: scale(1.05);
}

h2 {
  text-align: center;
  /* margin-bottom: 0.5em; */
  font-size: 55px;
  color: #d32f23;
  font-weight: 700;
  text-transform: none;

  text-shadow: cornflowerblue;
  font-weight: bold;
  /* background: #f2edc3; */
  padding: 20px;
  /* margin-top: 10px; */
  /* border: 3px;
    border-bottom-style: solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s; */
}

h3 {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 35px;
  color: #d32f23;
  font-weight: 400;
  text-transform: none;
}
