.home {
  text-align: center;
  margin-bottom: 2em;
}

.home p {
  font-size: 4em;
  color: #d32f23;
  font-style: italic;
  text-shadow: 3px 3px 3px rgba(216, 207, 207, 0.932);
}

.no-post {
  font-size: 30px;
  font-style: italic;
  margin-top: 50px;
  border-top: 1px solid #2c3e50;
  padding-top: 30px;
}

.home .btn {
  font-size: 1.2em;
  background-color: #d32f23;
  color: #f2edc3;
  padding: 0.8em 1.5em;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: 400;
  line-height: 0.9;
  margin-top: 2em;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
}

.home .btn:hover {
  transform: scale(1.1);
}

h2 {
  text-align: center;
  font-size: 8em;
  color: #d32f23;
  font-weight: 700;
  text-transform: none;

  text-shadow: 3px 3px 3px rgba(216, 207, 207, 0.932);
  font-weight: bold;
  padding: 20px;
}

.featured-recipes h2 {
  font-size: 3em;
}

.recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4em;
  flex-wrap: wrap;
  padding: 0 2em 5em;
}

.no-post {
  font-size: 50px;
  font-style: italic;
  margin-top: 50px;
  border-top: 1px solid #2c3e50;
  padding-top: 30px;
  color: #d32f23;
  text-align: center;
}
