/* h2 {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 55px;
  color: #d32f23;
  font-weight: 700;
  text-transform: none;
  text-shadow: cornflowerblue;
  font-weight: bold;
  
  padding: 30px;
  margin-top: 30px;
  
  border-bottom-style: solid;

  transition: transform 0.3s, box-shadow 0.3s;
  text-shadow: 3px 3px 3px rgba(216, 207, 207, 0.932);
} */

/* Центриране на .search-container */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* За центриране по вертикала */
  text-align: center;
}

/* Формата и нейните вътрешни елементи */
.search-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Ако елементите не се побират, да отиват на нов ред */
  gap: 15px; /* Разстояние между полето и бутона */
  margin-top: 20px;
}

.search-container input[type="text"] {
  width: 300px; /* Увеличаваме размера на полето */
  padding: 15px;
  font-size: 18px;
  border: 2px solid #d32f23;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

.search-container input[type="text"]:focus {
  border-color: #d32f23;
  box-shadow: 0 0 10px rgba(211, 47, 35, 0.5);
}

.search-container button {
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #d32f23;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 30px;
}

.search-container button:hover {
  background-color: #b71c1c;
  transform: scale(1.15);
}

/* H2 стилове */
.search-container h2 {
  font-size: 45px; /* За да бъде заглавието видимо, но не прекалено голямо */
  margin-bottom: 20px;
  color: #d32f23;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.search-results {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 150px;
}

.no-post {
  font-size: 50px;
  font-style: italic;
  margin-top: 50px;
  border-top: 1px solid #2c3e50;
  padding-top: 30px;
  color: #d32f23;
  text-align: center;
}
