<div class="main">
  <section class="search-container">
    <h2>Намери по ключова дума</h2>
    <form #form="ngForm" (ngSubmit)="search(form)">
      <input
        type="text"
        id="query"
        name="query"
        placeholder="Ребърца..."
        ngModel
        #query="ngModel"
      />
      <button>Търси</button>
    </form>
    @if (hasError) {
    <app-error-msg />
    }
    <!-- -->
    @else if (isLoading) {
    <app-loader />
    }
    <!-- -->
    @else {
    <div class="search-results">
      @if (recipes.length > 0) { @for (recipe of recipes; track $index) {
      <app-recipe [recipe]="recipe" />
      }
      <!-- -->
      }
      <!-- -->
      @else {
      <p class="no-post">There are no recipes found yet!</p>
      }
    </div>
    }
  </section>
</div>
