<div class="main">
  <section class="featured-recipes">
    <h2>Всички рецепти</h2>
    @if (isLoading) {
    <app-loader />
    }
    <!-- -->
    @else {
    <div class="recipes">
      @if (recipes.length > 0) { @for (recipe of recipes; track $index) {
      <article class="recipe">
        <img
          src="{{ recipe.imageUrl }}"
          alt="{{ recipe.title }}"
          class="responsive-image"
        />
        <h3>{{ recipe.title }}</h3>
        <p>{{ recipe.description }}</p>
        <a href="#">Read More</a>
      </article>
      }
      <!-- -->
      }
      <!-- -->
      @else {
      <p class="no-post">There are no recipes found yet!</p>
      }
    </div>
    }
  </section>
</div>
