.recipe {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: auto;
    max-width: 600px;
}


.recipe:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe img {
  width: 100%;
  margin-bottom: 1em;
  transition: transform 0.3s;
  height: 200px;
}

.recipe:hover img {
  transform: scale(1.05);
}

.recipe h3 {
  background-color: #d32f23;
  color: white;
  padding: 0.5em;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.recipe p {
  margin: 1em 0;
  color: #555;
  /*height: 60px; Ensures consistent height */
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe a {
    background-color: #d32f23;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s, transform 0.3s;
    font-weight: 400;
    margin: 1em;
    border-radius: 30px;
    text-transform: uppercase;
}

.recipe a:hover {
  background-color: #f2edc3;
  color:#d32f23;
  transform: scale(1.05);
}